body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

#logo {
    margin: 20px;
    text-align: left;
}

#logo img {
    max-width: 150px; /* Adjust the size of the logo */
}

#login-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
}

form {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4caf50; /* Green color, you can change this */
    color: white;
    padding: 15px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049; /* Darker green color on hover */
}

#sponsor-container {
    margin-top: 20px;
}

#sponsor-container h3 {
    margin-bottom: 10px;
}

#sponsor-container img {
    max-width: 100%;
    margin-bottom: 10px;
}
